body{
	background-color:black;
	font-family:arial;
	color:white;
	


}

h1{
  color:grey;
  font-family:verdana
}

.maindiv{
	center; 
    background-color:white;
    color:black;
    width: 300px;
    padding: 10px;
    border-radius: 25px;
    align: center;
    margin: 0 auto;
}

